# Virtual Environment
env/
venv/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Output files
output/
input/

# Excel temporary files
~$*.xlsx

.env
.venv

prompts/batch_action_prompt.py
prompts/batch_generated_action_prompt.py
prompts/batch_intent_prompt.py

processors/batch_intent_processor.py
processors/batch_action_processor.py
processors/batch_generated.py

main.py
test_generated_actions.py

